<div class = "container">
                <div class="one_eight_joa">
                    <a href="http://www.tallerfor.cl/">
                         <img class="logos" src="./assets/images/logito.png">
                    </a>
                    
                    
                    
                </div>
                <div class="two_eight_joa">
                        <a href="http://www.conaf.cl/">
                            <img class="logos" src="./assets/images/logo-conaf.jpg">
                        </a>
                        
                </div>
                <div class="three_eight_joa">
                        <a href = "https://www.cetma.cl/">
                            <img class="logos" src="./assets/images/cetma.png">
                        </a>
                </div>
                
                <div class="four_eight_joa">
                        <a href = "http://www.udec.cl/pexterno/">
                        <img class="logos" src="./assets/images/udec.gif">
                        </a>
                </div>
    
                <div class="five_eight_joa">
                        <a href = "https://www.corfo.cl/sites/cpp/home">
                        <img class="logos" src="./assets/images/corfo.png">
                        </a>
                </div>
            <div>
            
        