<!--
  <ng-container *ngIf="cargo == 'administrador' ||cargo=='super_admin';else second">
    <app-navbar></app-navbar>
</ng-container>

<ng-template #second>
    <app-navbar2></app-navbar2>
</ng-template>


<div class="container">
  <div class="panel pricing-table">
    
    <div class="pricing-plan">
      <img src="../../assets/images/cetma.png" alt="" class="pricing-img">
      <h2 class="pricing-header">Contacto Cetma</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">operaciones@cetudec.cl</li>
        <li class="pricing-features-item">soporte@cetudec.cl</li>
        <li class="pricing-features-item">Fono: 412661700</li>
        <li class="pricing-features-item" ><a href='https://www.cetma.cl'>cetma.cl</a></li>
      </ul>
      
    </div>
    
    <div class="pricing-plan">
      <img src="../../assets/images/logito.png" alt=""  class="pricing-img">
      <h2 class="pricing-header">Contacto Herramientas Forestales</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">herramientasforestales@tallerfor.cl</li>
        <li class="pricing-features-item"><a href='http://www.tallerfor.cl/'>Tallerfor.cl</a></li>
      </ul>
    </div>
    
   
    
  </div>
</div>
-->

     
