<app-navbar></app-navbar>
<div class="mapa">
    <agm-map (mapClick) = "close_window(infoWindow, gm)" #gm [zoom]="15" [mapTypeId]="'satellite'" [latitude]="latProm" [longitude]="longProm">
            <div *ngFor="let brigadista of brigadistas$.data">
                    <ng-container *ngIf="brigadista.fatigado == 0;else second">
                            <agm-marker #m [latitude]="brigadista.latidud" [longitude]="brigadista.longitud" [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/green-dot.png'" (mouseOver)="onMouseOver(infoWindow,gm)">
        
                                <ng-container *ngIf="brigadista.fatigado == 0;else second">
        
                                </ng-container>
                                
                                <ng-template #second>
                                             <ng-container *ngIf="brigadista.fatigado == 1;else third">
                                                         
                                            </ng-container>
                                </ng-template>
                        
                   
                        <agm-info-window #infoWindow>
                            <button [routerLink]="['/estadobrigadista', brigadista.rut]">{{brigadista.nombre}} {{brigadista.apellidoP}} {{brigadista.apellidoM}}</button>
                        </agm-info-window>
                           
                    </agm-marker>
                    </ng-container>
        
                    <ng-template #second>
                            <ng-container *ngIf="brigadista.fatigado == 1;else third">
                                    <agm-marker #m [latitude]="brigadista.latidud" [longitude]="brigadista.longitud" [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'" (mouseOver)="onMouseOver(infoWindow,gm)">
                                
                           
                                <agm-info-window #infoWindow>
                                    <button [routerLink]="['/estadobrigadista', brigadista.rut]">{{brigadista.nombre}} {{brigadista.apellidoP}} {{brigadista.apellidoM}}</button>
                                </agm-info-window>
                                   
                            </agm-marker>        
                            </ng-container>
                        </ng-template>

                    <ng-template #third>
                                <ng-container *ngIf="brigadista.fatigado == 2;">
                                        <agm-marker #m [latitude]="brigadista.latidud" [longitude]="brigadista.longitud" [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'" (mouseOver)="onMouseOver(infoWindow,gm)">
                                    
                               
                                    <agm-info-window #infoWindow>
                                        <button [routerLink]="['/estadobrigadista', brigadista.rut]">{{brigadista.nombre}} {{brigadista.apellidoP}} {{brigadista.apellidoM}}</button>
                                    </agm-info-window>
                                       
                                </agm-marker>        
                                </ng-container>
                    </ng-template>
                         
                
                        
        
                    
        
                    
                </div>    
                                

        
        </agm-map>
    </div>    
