<ng-container *ngIf="cargo == 'administrador' ||cargo=='super_admin';else second">
        <app-navbar></app-navbar>
</ng-container>

<ng-template #second>
        <app-navbar2></app-navbar2>
</ng-template>


<div class="pricingdiv">
    
        
        <div *ngFor="let chart of charts; let i = index">
            <ul class="theplan">
                <li class="title"><img  width="80px" height=" " src="./assets/images/equipo.png"><img  width="60px" height=" " *ngIf="rut_jefe == brigadas[i].rut_jefe;" src="./assets/images/estrella.png"> <br /><b>{{brigadas[i].nombre}} - {{brigadas[i].n_brigada}}</b><br/>Combate {{brigadas[i].id}}</li>    
                <li class="pie"><canvas  id="mychart{{i}}" #mycharts>{{charts.chart}}</canvas></li>
                <li >
                    <button class="button" href="http://ergonomictrends.com/best-ergonomic-office-chairs-under-200-reviews/"  [routerLink]="['/estadobrigadistasbrigada', brigadas[i].n_brigada,brigadas[i].nombre]" rel="nofollow" ><span class="icon-tag"></span> Ver Estado</button><br/>
                    <button class="button" href="http://ergonomictrends.com/best-ergonomic-office-chairs-under-200-reviews/"  [routerLink]="['/mapa', brigadas[i].n_brigada,brigadas[i].nombre]" rel="nofollow" ><span class="icon-tag"></span> Ver Mapa</button></li>
            </ul>
        </div>
        
    
    
   
</div>


           
    
 