html, body{
  background-color: #f9f9f9;;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-navbar{
  display: block;
  height: auto;
}

.limiter {
    background-color: #f9f9f9;
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    width: auto;    
    height: 100%;
 }


.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center; 
}

.card{
  background: linear-gradient(to top, #eda97c,#d89e97);
  border-radius: 20px;
  filter: drop-shadow(5px 5px 4px #696969 );
  width: 20%;
  margin: 1%;
}


.card-header{
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  text-align: center;
}

.card-img-header{
  background-color: #f9f9f9;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: inline-block;
  text-align: center;
}

.card-header img{
  width: 70%;
  height: auto;
  text-align: center;
  margin: 15% 15% 15% 15%;
}

.card-header-star{
  position: absolute;
  top: 0%;
  left: 40%;
}

.card-header-star img{
  width: 20%;
}

  
.card-header h1{
  font-size: 24px;
  font-weight: bold;
}

.card-header h3{
  font-size: 20px;
}


.card-body{
  position: relative;
  padding: 1%;
}

.pie{
  position: relative;
  margin: 5%; 
}

.button-group{
  margin: 8%;
  position: relative;
}


@media only screen and (max-width: 600px) {
  .pricingdiv ul.theplan{
    border-radius: 0;
   
    margin-right: 0;
  }
  
  .pricingdiv ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }
  
  .pricingdiv a.pricebutton{
    display: block;
  }
}


.button {
  background-color: #f47e1e;
  border: none;
  color: white;
  padding: 0.75em 1.5em;
  margin-left: 10%;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  display: block;
  margin-bottom: auto;
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
  margin-right: 10%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #fff;
  color: #ee812e;
  transform: scale(1.05);
  transition: all .3s;
  z-index: 100;
}

