<app-navbar></app-navbar>


    
      <div id="container">
            <h1>&bull;Añadir Brigada &bull;</h1>
            <div class="underline">
            </div>
            <form [formGroup]="BrigadaForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <legend>Brigada</legend>
                    <div class="row">
                            <div class="column2" >
                                
                                    <label for="n_brigada">Nombre de Brigada</label>
                                    
                                    <div class="row">
                                            <div class="column" >
                                                
                                                    <select formControlName="nombre" (change)="onChange($event.target.value);">
                                                            <option value="" class="option">Nombre Brigada</option>
                                                            <option *ngFor="let nombre of nombresbrigadas$.data" value="{{nombre.nombre}}" class="option">{{nombre.nombre}} - {{nombre.region}}</option>           
                                                    </select>
                                                    <div *ngIf="BrigadaForm.get('nombre').hasError('required')"><span>Nombre de brigada requerido</span></div>
                                                
                                                           
                                            </div>
                                            <div class="column" >
                                                    <input type="number" id="number" step="1" min={{brigadas$.data[0].max+1}} max=100 formControlName="n_brigada"  required><br>
                                                    <div *ngIf="BrigadaForm.get('n_brigada').hasError('required')"><span>N° de brigada requerido</span></div>
                                                
                                                
                                            </div>
                                          </div>
                                
                                    
                                    
                                           
                            </div>
                            <div class="column2" >
                                <select  formControlName="rut" >
                                    <option value=""class="option">Elija el jefe de brigada</option>
                                    <option *ngFor="let jefe of jefes$.data" class="option">{{jefe.rut}}</option>         
                                </select>
                                        
                                <div *ngIf="BrigadaForm.get('rut').hasError('required')"><span>Rut Jefe Brigada requerido</span></div>
                            </div>
                          </div>
              
                        
                       
                      
                            
                            
                            
                </fieldset>  
                <div class="submit">
                        <input [disabled]="!BrigadaForm.valid" type="submit" value="Registrar" id="form_button" />
                      </div>
            </form><!-- // End form -->
          </div><!-- // End #container -->
