<app-navbar></app-navbar>


    
      <div id="container">
            <h1>&bull;Modificar Brigada &bull;</h1>
            <div class="underline">
            </div>
            <form [formGroup]="modBrigadaForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <legend>Brigada</legend>
                    
                    <div class="name">
                          <tr *ngFor="let brigada of brigadas$.data" >
                            <label for="n_brigada">N° de Brigada</label>
                            
                             <input   type="number" step="1" min="1" max={{brigada.numero}} formControlName="n_brigada"  required><br>
                             <div *ngIf="modBrigadaForm.get('n_brigada').hasError('required')"><span>N° de brigada requerido</span></div>
                            </tr>
                            </div>
                         
                            <div class="email">
                              
                                <select  placeholder="Rut" name="subject" id="subject_input" formControlName="rut" required>
                                    <option value="" class="option">Rut Jefe de Brigada</option>
                                    <option  *ngFor="let jefe of jefes$.data" class="option" >{{jefe.rut}}</option>
                                </select>
                            
                        
                            <div *ngIf="modBrigadaForm.get('rut').hasError('required')"><span>Rut requerido</span></div>
                          </div>
                </fieldset>  
                <div class="submit">
                        <input [disabled]="!modBrigadaForm.valid" type="submit" value="Modificar" id="form_button" />
                      </div>
            </form><!-- // End form -->
          </div><!-- // End #container -->

