<ng-container *ngIf="cargo == 'administrador';else second">
                <app-navbar></app-navbar>
        </ng-container>
    
        <ng-template #second>
                <app-navbar2></app-navbar2>
        </ng-template>


    
      <div id="container">
            <h1>&bull;Unirse a Combate {{id_combate}} &bull;</h1>
            <div class="underline">
            </div>
            <form [formGroup]="unirseForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <legend>Brigada del Rut: {{rut}}</legend>
                    
                    

                    <div class="name">
                            <select formControlName="n_brigada">
                                    <option value=""class="option">Elija su brigada</option>
                                    <option *ngFor="let brigada of brigadas$.data" [ngValue]="brigada.n_brigada"class="option">{{brigada.n_brigada}}</option>
                                    
                                  </select> 
                        
                            <div *ngIf="unirseForm.get('n_brigada').hasError('required')"><span>N° Brigada requerido</span></div>
                    </div>
                         
                            
                </fieldset>  
                <div class="submit">
                        <input [disabled]="!unirseForm.valid" type="submit" value="Modificar" id="form_button" />
                      </div>
            </form><!-- // End form -->
          </div><!-- // End #container -->
