
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="topnav" id="myTopnav">
	<a routerLink="/home" class="logo"><img  width="80px" height="" src="./assets/images/Safeteamlogopng.png"></a>
	
	<a routerLink="/estado" *ngIf="auth.loggedIn"><span>Estado Cuadrilla</span></a>
		<a routerLink="/reporteria"*ngIf="auth.loggedIn"><span>Reportería</span></a>
		<a routerLink="/brigadas"*ngIf="auth.loggedIn"><span>Brigadas</span></a>
		<a routerLink="/combates"*ngIf="auth.loggedIn"><span>Combates</span></a>
		<a routerLink="/personal"*ngIf="auth.loggedIn"><span>Personal</span></a>
		<a routerLink="/contacto"*ngIf="auth.loggedIn"><span>Contacto</span></a>
		<a  class="logo2" routerLink="/personal" *ngIf="auth.loggedIn">
			<img  width="40px" height="" src="./assets/images/campana.png">
			<ng-container *ngIf="num != 0;">
				<span class="badge">{{num}}</span>
			</ng-container>
			
		  </a>
			
		<a class="active" routerLink="" (click)="logout()" *ngIf="auth.loggedIn">Cerrar Sesión</a>	
		<a href="javascript:void(0);" class="icon" (click)="myFunction()">
			<i class="fa fa-bars"></i>
		  </a>
  </div>
  



  