@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.caja { 
    font-family: "Roboto", sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    color: #ffffff; 
    overflow: hidden;
    left: 50%;
    width: 11.5em;
    min-height: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: -5.75em;
    background: rgb(1, 145, 73); 
    text-align: center;
    position: relative;
}