
<div class="login-page">
    
        <div class="form">
          <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
          <form class="login-form">
            <input type="text" placeholder="Usuario"/>
            <input type="password" placeholder="Contraseña"/>
            
              
            <button (click)=login()>Iniciar sesión</button>
            <p class="message">¿No estás registrado?</p> <a routerLink="/registro">Registrate aquí</a>
          </form>
        </div>
      </div>
      <app-footer></app-footer>
<script type = "text/javascript">
  function myFunction(){
    window.location.href = 'https://www.google.cl/';
  }
  


  $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });


</script>      
  
