<ng-container *ngIf="cargo == 'administrador' ||cargo=='super_admin';else second">
    <app-navbar></app-navbar>
</ng-container>

<ng-template #second>
    <app-navbar2></app-navbar2>
</ng-template>


<div class="pricingdiv">
    <div *ngFor="let brigadista of brigadistas$.data ">
    <ul class="theplan">
        <li class="title"><b>{{brigadista.nombre}}</b><br />{{brigadista.apellidoP}} {{brigadista.apellidoM}}</li>
        <ng-container *ngIf="brigadista.fatigado == 0;else second">
                <img src="src=../../assets/images/brigadistaverde.png"/>
            </ng-container>
            <ng-template #second>
                <ng-container *ngIf="brigadista.fatigado == 1;else third">
                        <img src="src=../../assets/images/brigadistaamarillo.png"/>        
                </ng-container>
            </ng-template>

            <ng-template #third>
                <ng-container *ngIf="brigadista.fatigado == 2;">
                           <img src="src=../../assets/images/brigadistarojo.png"/>         
                </ng-container>
            </ng-template>
            <li><button class="button"  [routerLink]="['/estadobrigadista', brigadista.rut]"><span class="icon-tag"></span> Ver Estado</button></li>
            
    </ul>
</div>
   
</div>


