
	@import url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);

.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  margin-left: 5%;  
  margin-right: 5%;  
}

.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width: 320px; /* width of each table */
  margin-right: 25px; /* spacing between tables */
  margin-bottom: 1em;
  border: 1px solid gray;
  transition: all .5s;
  background-image: linear-gradient(90deg,#e4bc96b9 0%, #724b26e1 100%);
  	background-image: -moz-linear-gradient(top, #e4bc96b9 0%, #724b26e1 100%);
  	background-image: -webkit-linear-gradient(top, #e4bc96b9 0%, #724b26e1 100%);
  	background-image: linear-gradient(to bottom, #e4bc96b9 0%, #724b26e1 100%);
}

.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan .center{
  margin: 0 auto;
  text-align: center;
}

.pricingdiv ul.theplan img{
  max-width: 80%;
  height: auto;
  margin-left: 8%;
  
}

.pricingdiv ul.theplan li{
  padding: 10px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
  background: rgb(218, 122, 33);
}

.pricingdiv ul.theplan li.title{
  font-weight: bold;
  text-align: center;
  padding: 30px 10px;
  background-image: linear-gradient(90deg,#c49c48cc 0%, #806223 100%);
  	background-image: -moz-linear-gradient(top, #c49c48cc 0%, #806223 100%);
  	background-image: -webkit-linear-gradient(top, #c49c48cc 0%, #806223 100%);
  	background-image: linear-gradient(to bottom, #c49c48cc 0%, #806223 100%);
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  
}

.pricingdiv ul.theplan:nth-of-type(2) li.title{
  background: rgb(196, 107, 48);
  color: white;
}
    
.pricingdiv ul.theplan:nth-of-type(3) li.title{
  background: rgb(210, 117, 251);
  color: white;
}

.pricingdiv ul.theplan li b{
 
}
.pricingdiv ul.theplan li.title b{
  font-size: 250%;
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  


li.btn-group .button {
  background: rgb(228, 48, 48);
  border: none;
  color: white;
  font-size: 1em;
  padding: 0.75em 1.5em;
  width: 50%;
  bottom: 1.25em;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  display: block;
  
  margin: 10px auto;
  border-radius: 5px;
  font-weight: bold;
  
  
}


.button {
  text-transform: uppercase;
  margin: 3px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 20px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-image: linear-gradient(90deg,#7e1919cc 0%, #250404cc 100%);
  	background-image: -moz-linear-gradient(top, #7e1919cc 0%, #250404cc 100%);
  	background-image: -webkit-linear-gradient(top, #7e1919cc 0%, #250404cc 100%);
  	background-image: linear-gradient(to bottom, #7e1919cc 0%, #250404cc 100%);
}



@media only screen and (max-width: 600px) {
  .pricingdiv ul.theplan{
    border-radius: 0;
    width: 100%;
    margin-right: 0;
  }
  
  .pricingdiv ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }
  
  .pricingdiv a.pricebutton{
    display: block;
  }
}