html, body{
  background-color: #f9f9f9;;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

app-navbar{
  display: block;
  height: auto;
}

.limiter {
  background-color: #f9f9f9;
  position: relative;
  min-width: 100%;
  width: auto;    
  height: 100%;
  text-align: center;
  display: block;
  padding: 0% 20% 0% 20%;
}

button {
	overflow: visible;
}
		
form {
	margin: 10px 0;
	width: 100%;
}


fieldset {
	border: 1px solid #f47e1e !important;
	margin: 0;
	min-width:  0;
	margin-bottom: 10px;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	padding-left:10px!important;
}

form fieldset {
	font-size: 15px;
	color:rgb(255, 255, 255);
    text-align: left;
    margin-left: 10px;
    background: linear-gradient(to top, #eda97c,#d89e97);
}	
	
legend{
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 1px solid #ddd;
	color: #fff;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #d2695f;
}
	
.underline {
  	border-bottom: solid 2px #c4bebe;
 	margin: -0.512em auto;
  	margin-top: 5%;
  	width: 150px;
}
		
.email {
	float: right;
	width: 47%;
}

legend img{
	width: 15%;
	padding: 1%;
}

.form-input img{
	width: 15%;
	padding: 1%;
}

.form-input{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.form-input h2{
	border-bottom: solid 1px #474544;
  	margin-top: 5%;
  	width: 100%;
  	font-size: 16px;
  	font-weight: bold;
}


	
input[type='text'], [type='password'],[type='email'],[type=date], select, textarea {
	background: none;
  	border: none;
	border-bottom: solid 1px #474544;
	color: #ffffff;
	font-size: 1.000em;
  	font-weight: 400;
  	letter-spacing: 1px;
	margin: 0.5em 0 1em 0;
	padding: 0 0 0.875em 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
	
input[type='text']:focus, [type='password'], [type='email']:focus, [type=date]:focus,textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

input{
	margin-left: 10px;
	width: 48%;
}

label{
	color: #e2bda6;
}

select {
	background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
	
select::-ms-expand {
  	display: none;
}
	
.subject {
  	width: 100%;
}

.option{
	color: #696766;
}

.button {
  background-color: #c4242c;
  border: none;
  color: white;
  padding: 3%;
  margin-left: 10%;
  margin-bottom: auto;
  margin-right: 10%;
  margin-top: 2%;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: auto;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #d2695f;
  color: #c4242c;
  transform: scale(1.05);
  transition: all .3s;
  z-index: 100;
}

.btn-submit { 
	display: ruby;
}

.button_img {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  width: auto;
  height: auto;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 5px;
  border: 1px solid #f47e1e;
  padding: 5%;
}

.button_img:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #d2695f;
  color: #c4242c;
  transform: scale(1.05);
  transition: all .3s;
  z-index: 100;
}


.button_img img{
	width: 30%;
}