<app-navbar></app-navbar>


    
      <div id="container">
            <h1>&bull;Modificar Brigada {{brig}}&bull;</h1>
            <div class="underline">
            </div>
            <form [formGroup]="modBrigadaForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <legend>Brigada</legend>
                    
                   
                            
                              
                                <select  placeholder="Rut" name="subject" id="subject_input" formControlName="rut" required>
                                    <option value="" class="option">Rut Jefe de Brigada</option>
                                    <option  *ngFor="let jefe of jefes$.data" class="option" >{{jefe.rut}}</option>
                                </select>
                            
                        
                            <div *ngIf="modBrigadaForm.get('rut').hasError('required')"><span>Rut requerido</span></div>
                          
                </fieldset>  
                <div class="submit">
                        <input [disabled]="!modBrigadaForm.valid" type="submit" value="Modificar" id="form_button" />
                      </div>
            </form><!-- // End form -->
          </div><!-- // End #container -->

