/*@import "~leaflet/dist/leaflet.css";*/

html, body{
  background-color: #f9f9f9;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.map-frame {
  border: 0px solid black;
  width: 100%;
}

#map {
  width: 45vw;
  height: 60vh;
}
