<app-navbar></app-navbar>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">

</head>
<button class="btn" routerLink="/addbrigada"><span>Añadir Brigada</span></button>



<div class="pricingdiv">
        <div *ngFor="let brigada of brigadas$.data">
        <ul class="theplan">
            
            <li class="title"><img  width="100px" height=" " src="../../assets/images/brigada.png"><br/><b>Jefe Brigada:</b> <br />{{brigada.nombre}} {{brigada.apellidoP}} {{brigada.apellidoM}}</li>
            
            <li class="title2">Brigada N° {{brigada.n_brigada}}</li>
           
            
                
              <li>
                    <button class="button" [routerLink]="['/brigadistas', brigada.n_brigada]">Ingresar</button>
                    <button class="button" [routerLink]="['/modBrigada', brigada.n_brigada]" >Modificar</button>
                    <button  class="button" (click)="delBrigada(brigada.n_brigada)">Eliminar</button>
              </li>
              
        </ul>
    </div>
       
    </div>


