<body>
        
    
        <div class="container">  
            <form id="contact" action="" method="post">
              <fieldset>
                <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
              </fieldset>
              <fieldset>
                <input placeholder="Correo" type="email" tabindex="2" required>
              </fieldset>
              <fieldset>
                <input placeholder="Teléfono" type="tel" tabindex="3" required>
              </fieldset>
              <fieldset>
                <textarea placeholder="Descripción de la solicitud..." tabindex="4" required></textarea>
              </fieldset>
              <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enviar Solicitud Registro</button>
              </fieldset>
              <fieldset>
                <a routerLink="">
                     <img src="../../assets/images/casa.png">
                </a>
              </fieldset>

              
            </form>
          </div>

          <app-footer></app-footer>
    
      </body>
    
