<head>
  <title>Login V3</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="assets/images/icons/favicon.ico"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="limiter">
        <div class="button-top">
            <button class="btn" *ngIf="cargo == 'Administrador' || cargo=='Super Administrador';" [routerLink]="['/crear/brigadista',n_brigada, nombre_brigada]">
                <span>Añadir Brigadista</span>
            </button>
        </div>
        <div class="pricingdiv">
            <div class="card" *ngFor="let brig of brigadistas$.data">               
                <div class="card-header">
                    <div class="card-img-header">
                        <img src="./assets/images/icons/fire-rescue.png">
                    </div>
                    <h1>{{brig.nombre}} {{brig.apellidoP}} {{brig.apellidoM}}</h1>
                </div>

                <div class="card-body">
                    <div class="card-text">
                        <h2>
                        Rut: {{brig.rut}} <br/>
                        F. nacimiento: {{brig.f_nacimiento}}<br/>
                        Correo: {{brig.correo}}<br/>
                        Peso: {{brig.peso}}<br/>
                        Altura: {{brig.altura}}<br/>
                        Cargo: {{brig.cargo}}<br/>
                        ID pulsera: {{brig.pulsera}}   
                        </h2>
                    </div>
                    <div class="button-group">
                        <button class="button" [routerLink]="['/estado/brigadista', brig.rut]" >Seleccionar</button>
                        <button class="button" [routerLink]="['/edit/brigadista', brig.rut]" >Modificar</button>
                        <button  class="button" (click)="delBrig(brig.rut)" >Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>