<ng-container *ngIf="cargo == 'administrador' ||cargo=='super_admin';else second">
    <app-navbar></app-navbar>
</ng-container>

<ng-template #second>
    <app-navbar2></app-navbar2>
</ng-template>




<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    
    </head>

    <button class="btn" routerLink="/addBrigadista" *ngIf="cargo == 'administrador' ||cargo=='super_admin';"><span>Añadir Brigadista</span></button>

    <div class="pricingdiv">
            <div *ngFor="let brigadista of brigadistas$.data">
            <ul class="theplan">
                
                <li class="title"><img  width="100px" height=" " src="../../assets/images/bombero.png"><br/><b>{{brigadista.nombre}}</b> <br />{{brigadista.apellidoP}} {{brigadista.apellidoM}}</li>
                
                <li class="title2">
                    Rut: {{brigadista.rut}} <br/>
                    F. nacimiento: {{brigadista.f_nacimiento}}<br/>
                    {{brigadista.correo}}<br/>
                    Peso: {{brigadista.peso}}<br/>
                    Altura: {{brigadista.altura}}<br/>
                    Cargo: {{brigadista.cargo}}<br/>
                    ID pulsera: {{brigadista.pulsera}}    
                    </li>
                
                    
                    <li *ngIf="cargo == 'administrador' ||cargo=='super_admin';">
                        <button class="button" [routerLink]="['/modBrigadista', brigadista.rut]" >Modificar</button>
                        <button  class="button" (click)="delBrig(brigadista.rut)" >Eliminar</button>
                            
                    </li>
                  
            </ul>
        </div>
           
        </div>

