@import url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-image: linear-gradient(90deg,#c49c48cc 0%, #806223 100%);
  background-image: -moz-linear-gradient(top, #c49c48cc 0%, #806223 100%);
  background-image: -webkit-linear-gradient(top, #c49c48cc 0%, #806223 100%);
  background-image: linear-gradient(to bottom, #c49c48cc 0%, #806223 100%);
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10.45%;
}
.tab button.tablinks span.badge {
	
	
	
	padding: 2px 8px;
	border-radius: 80%;
	background-color: red;
	color: white;
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  max-width: 78.55%;
  margin-left: 10%;
  margin-right: 10.45%;
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  background-image: linear-gradient(90deg,#e4bc96cc 0%, #725a43 100%);
  	background-image: -moz-linear-gradient(top, #e4bc96cc 0%, #725a43 100%);
  	background-image: -webkit-linear-gradient(top, #e4bc96cc 0%, #725a43 100%);
  	background-image: linear-gradient(to bottom, #e4bc96cc 0%, #725a43 100%);
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabs-title {
	float: none;
	display: inline-block;
}



.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  margin-top: 2%;
  
}

.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width: 320px; /* width of each table */
  
  margin-right: 25px; /* spacing between tables */
  margin-bottom: 2em;
  border: 1px solid gray;
  transition: all .5s;
  background-image: linear-gradient(90deg,#e4bc96b9 0%, #724b26e1 100%);
  	background-image: -moz-linear-gradient(top, #e4bc96b9 0%, #724b26e1 100%);
  	background-image: -webkit-linear-gradient(top, #e4bc96b9 0%, #724b26e1 100%);
  	background-image: linear-gradient(to bottom, #e4bc96b9 0%, #724b26e1 100%);
}

.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan .center{
  margin: 0 auto;
  text-align: center;
}

.pricingdiv ul.theplan img{
  max-width: 80%;
  height: auto;
  margin-left: 8%;
  
}

.pricingdiv ul.theplan li{
  padding: 15px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  background-color: #f47e1e;
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
}

.pricingdiv ul.theplan li.title{
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  background-image: linear-gradient(90deg,#c49c48cc 0%, #806223 100%);
  	background-image: -moz-linear-gradient(top, #c49c48cc 0%, #806223 100%);
  	background-image: -webkit-linear-gradient(top, #c49c48cc 0%, #806223 100%);
  	background-image: linear-gradient(to bottom, #c49c48cc 0%, #806223 100%);
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  
}
.pricingdiv ul.theplan li.title2{
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  background-image: linear-gradient(90deg,#523c0db2 0%, #201906b2 100%);
  background-image: -moz-linear-gradient(top, #523c0db2 0%, #201906b2 100%);
  background-image: -webkit-linear-gradient(top, #523c0db2 0%, #201906b2 100%);
  background-image: linear-gradient(to bottom, #523c0db2 0%, #201906b2 100%);

  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  
}

.pricingdiv ul.theplan:nth-of-type(2) li.title{
  background: rgb(196, 107, 48);
  color: white;
}
    
.pricingdiv ul.theplan:nth-of-type(3) li.title{
  background: rgb(210, 117, 251);
  color: white;
}

.pricingdiv ul.theplan li b{
 
}
.pricingdiv ul.theplan li.title b{
  font-size: 200%;
}
.pricingdiv ul.theplan li.pie{
 
  background-image: linear-gradient(90deg,#523c0db2 0%, #201906b2 100%);
  	background-image: -moz-linear-gradient(top, #523c0db2 0%, #201906b2 100%);
  	background-image: -webkit-linear-gradient(top, #523c0db2 0%, #201906b2 100%);
  	background-image: linear-gradient(to bottom, #523c0db2 0%, #201906b2 100%);
  
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv a.pricebutton{
  background: rgb(228, 48, 48);
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}






.button {
  background-color: #9c83aa;/* Green */
  border: none;
  color: white;
  padding: 0.75em 1.5em;
  margin-left: 10%;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
  margin-right: 10%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-image: -moz-linear-gradient(left, #ec915c 0%, #bb2c3d 100%);
background-image: -webkit-linear-gradient(left, #ec915c 0%, #bb2c3d 100%);
background-image: linear-gradient(to right, #ec915c 0%, #bb2c3d 100%);
transform: scale(1.05);
  	transition: all .3s;
  	z-index: 100;
}


.btn {
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 7.6%;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn span:after {
content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:hover span {
  padding-right: 25px;
}
.btn:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 500px) {
  .btn {
    width: 250px;
    font-size: 20px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);

	html {
	  -ms-text-size-adjust: 100%;
	  -webkit-text-size-adjust: 100%;
	  font-family: 'Playfair Display', serif;

  }

  p{
    margin: auto;
  }
  
  img{
    margin-top: 5%;
    width: 40%;
    height: 40%;
   
  }

	body {
	  background: #F2F3EB;
	}
	
	button {
	  overflow: visible;
	  
	}
	
	button, select {
	  text-transform: none;
	}
	
	button, input, select, textarea {
        
	  color: rgb(99, 97, 97);
	  font: inherit;
	  margin: 0;
	}
	
	input {
	  line-height: normal;
	}
	
	textarea {
	  overflow: auto;
	}
	
	#container {
		border: solid 3px #e6550d;
		background-image: linear-gradient(90deg,#51b694d0 0%, #072b1f 100%);
		background-image: -moz-linear-gradient(top, #51b694d0 0%, #072b1f 100%);
		background-image: -webkit-linear-gradient(top, #51b694d0 0%, #072b1f 100%);
		background-image: linear-gradient(to bottom, #51b694d0 0%, #072b1f 100%);
	  max-width: 768px;
	  margin: 60px auto;
	  position: relative;
	  font-family: 'Playfair Display', serif;
	}
	
	form {
	  padding: 37.5px;
	  margin: 10px 0;
	  font-family: 'Playfair Display', serif;

	}
	
	h1 {
	  color: #dfdddd;
	  font-size: 32px;
	  font-weight: 700;
	  letter-spacing: 7px;
	  text-align: center;
	  text-transform: uppercase;
	}
	
	.underline {
	  border-bottom: solid 2px #c4bebe;
	  margin: -0.512em auto;
	  margin-top: 5%;
	  width: 150px;
	}
	

	
	.email {
		float: right;
		width: 47%;
	}
	
	input[type='text'], [type='password'],[type='email'],[type=date], select, textarea {

		background: none;
	  	border: none;
		border-bottom: solid 2px #474544;
		color: #ffffff;
		font-size: 1.000em;
	  	font-weight: 400;
	  	letter-spacing: 1px;
		margin: 0.5em 0 1em 0;
		padding: 0 0 0.875em 0;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	
	input[type='text']:focus, [type='password'], [type='email']:focus, [type=date]:focus,textarea:focus {
		outline: none;
		padding: 0 0 0.875em 0;
	}
	input{
		
		margin-left: 10px;
		width: 48%;
		
		
	 }
	 input[type=number]{
		width: 30%;
		
     }
	
	.message {
		float: none;
	}
	
	.name {
		float: left;
		width: 47%;
	}
	.column {
		
		float: left;
		width: 46%;
		padding: 10px;
	  }
	  .column2 {
		
		width: 95%;
		padding: 10px;
	  }
	  
	  /* Clear floats after the columns */
	  .row {
		
		margin-bottom: 2px;
	  }
	  .row:after {
		content: "";
		display: table;
		clear: both;
	  }

	  
	fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		min-width:  0;
		margin-bottom: 10px;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
			border: 1px solid #ddd;
			color: black;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #d1d1d1b0;
		}
	
	select {
	  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
	  outline: none;
	  -moz-appearance: none;
	  -webkit-appearance: none;
	}
	
	select::-ms-expand {
	  display: none;
	}
	
	.subject {
	  width: 100%;
	}

	.option{
		color: #696766;
	}
	
	
	::-webkit-input-placeholder {
		color: #e6dfdc;
		font-family: 'Merriweather', serif;
		font-size: 15px;
	}
	
	:-moz-placeholder { 
		color: #ee6622;
		opacity: 1;
	}
	
	::-moz-placeholder {
		color: #474544;
		opacity: 1;
	}
	
	:-ms-input-placeholder {
		color: #c9c3c3;
	}
	form fieldset {
        font-family: 'Helvetica', Arial, sans-serif;
		font-size: 15px;
		color:rgb(255, 255, 255);
        text-align: left;
        margin-left: 10px;
      }
	
	  span{
		color: #ebc5b2;
		font-size: 15px;
		margin-top: 10px;
	
	}

	#form_button {
		margin-left: 10px;
		margin-top: 10px;
        width: 46%;
		background: none;
		border: solid 2px #927e74;
		background-color: #ee6622;
		color: #474544;
		cursor: pointer;
		display: inline-block;
		font-family: 'Helvetica', Arial, sans-serif;
		font-size: 0.875em;
		font-weight: bold;
		outline: none;
		padding: 20px 35px;
		text-transform: uppercase;
	  	-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	
	#form_button:hover {
	  background: rgb(209, 89, 29);
	  color: #F2F3EB;
	}
	@media screen and (max-width: 950px) {
		#container {
		  margin: 60px auto;
		  width: 90%;
		}
		
	  }

	@media screen and (max-width: 720px) {
		.column {
		  width: 90%;
		}
	  }
	
	
	
	@media screen and (max-width: 480px) {
	  h1 {
		font-size: 26px;
	  }
	  
	  
	  
	  #form_button {
		padding: 15px 25px;
	  }
	}
	
	@media screen and (max-width: 420px) {
	  h1 {
		font-size: 18px;
	  }
	  
	  .icon {
		height: 35px;
		width: 35px;
	  }
	  
	 
	  
	  input[type='text'], [type='password'], [type='email'], select, textarea {
		font-size: 0.875em;
	  }
	}