<head>
  <title>Login V3</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="assets/images/icons/favicon.ico"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>


<body>
    <app-navbar></app-navbar>
    <div class="limiter">
        <div class="tab">
            <button class="tablinks" (click)="openCity('Activos')" id="defaultOpen">Activos</button>
            <button class="tablinks" (click)="openCity('Todos')">Todos</button>
            <button class="tablinks" (click)="openCity('Añadir')" *ngIf="cargo == 'Administrador' ||cargo=='Super Administrador';">Añadir</button>    
        </div>
        <div id="Activos" class="tabcontent">
            <div class="pricingdiv">
                <div class="card" *ngFor="let combate of combatesActivos$.data">               
                    <div class="card-header">
                        <div class="card-img-header">
                            <img src="./assets/images/icons/wildfire3.svg">
                        </div>
                        <h1>ID Combate: {{combate.id}}</h1>
                    </div>

                    <div class="card-body">
                        <div class="card-text">
                            <h2>
                                {{combate.hito}}<br/>
                                {{combate.fecha}}<br/>
                                {{combate.hora}}   
                            </h2>
                        </div>
                        <div class="button-group">
                            <button class="button" [routerLink]="['/combate/brigada', combate.id]">
                                Seleccionar
                            </button>
                            <button class="button" [routerLink]="['/edit/combate', combate.id]" *ngIf="cargo == 'Administrador' ||cargo=='Super Administrador';">
                                Modificar
                            </button>
                            <button  class="button" (click)="delCombate(combate.id)" *ngIf="cargo == 'Administrador' ||cargo=='Super Administrador';">
                                Finalizar
                            </button>
                        </div>                     
                    </div>
                </div>
            </div>  
        </div>  
        <div id="Todos" class="tabcontent">
            <div class="pricingdiv">
                 <div class="card" *ngFor="let combate of combates$.data">               
                    <div class="card-header">
                        <div class="card-img-header">
                            <img src="./assets/images/icons/wildfire3.svg">
                        </div>
                        <h1>ID Combate: {{combate.id}}</h1>
                    </div>

                    <div class="card-body">
                        <div class="card-text">
                            <div *ngIf="combate.estado == 1">
                                <h2>{{combate.hito}}<br/>
                                    Activo<br/>
                                    {{combate.fecha}}<br/>
                                    {{combate.hora}}   
                                </h2>
                            </div>

                            <div *ngIf="combate.estado == 0">
                                <h2>{{combate.hito}}<br/>
                                    Finalizado<br/>
                                    {{combate.fecha}}<br/>
                                    {{combate.hora}}   
                                </h2>
                            </div>
                        </div>
                        <div class="button-group">
                            <button class="button" [routerLink]="['/combate/brigada', combate.id]" >Seleccionar</button>
                            <button class="button" [routerLink]="['/edit/combate', combate.id]" *ngIf="(cargo == 'Administrador' || cargo=='Super Administrador') && combate.estado == 1;">Modificar</button>
                        </div>                     
                    </div>
                </div>  
            </div>
        </div>  
        <div id="Añadir" class="tabcontent">
            <div id="container">
                <h3>&bull;Añadir Combate &bull;</h3>
                <div class="underline"></div>
                <div class="limiter-form">
                <form [formGroup]="CombateForm" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <legend> 
                            <img src="./assets/images/icons/wildfire_outline.svg"> Combate
                        </legend>
                        <div class="form-input">
                            <div class="row">
                                <div class="col-6">
                                    <label for="fecha">Fecha Inicio del Combate</label>
                                    <input type="date" formControlName="fecha" placeholder="Fecha" requiered><br>
                                </div>
                                <div class="col-6">
                                    <label for="hora">Hora de Inicio del Combate</label>
                                    <input type="time" formControlName="hora" placeholder="Hora"required><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="message">
                                        <label for="message">Ubicación o descripción</label>
                                        <textarea name="message" placeholder="Hito/Ubicación/Descripción" id="message_input"    formControlName="hito" cols="30" rows="5" required></textarea>
                                    </div>
                                    <div *ngIf="CombateForm.get('hito').hasError('required')">
                                        <span>(*)Hito requerido</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="submit">
                        <input [disabled]="!CombateForm.valid" type="submit" value="Registrar" id="form_button"/>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</body>
