<app-navbar></app-navbar>

<head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
        
        </head>
        <button class="btn" routerLink="/addCombate"><span>Añadir Combate</span></button>

        
        <div class="pricingdiv">
                <div  *ngFor="let combate of combates$.data">
                <ul class="theplan">
                    
                    <li class="title"><img  width="120px" height=" " src="../../assets/images/fire.png"><br/><b>ID Combate: {{combate.id}}</b> </li>
                    
                    <li class="title2">{{combate.hito}}</li>
                
                    
                        
                    <li >
                        <button class="button" [routerLink]="['/combateBrig', combate.id]" >Seleccionar</button>
                        <button class="button" [routerLink]="['/modCombate', combate.id]" >Modificar</button>
                        <button  class="button" (click)="delCombate(combate.id)">Eliminar</button>
                    </li>
                    
                </ul>
            </div>
       
    

    
