@import url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);

body {
	background: #34495e;
  }


  
  .topnav {
	overflow: hidden;
	max-width: 1400px;
	font-family: 'Playfair Display', serif;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	background-image: linear-gradient(90deg,#51ca57d0 0%, #0c460f 100%);
  	background-image: -moz-linear-gradient(top, #51ca57d0 0%, #0c460f 100%);
  	background-image: -webkit-linear-gradient(top, #51ca57d0 0%, #0c460f 100%);
  	background-image: linear-gradient(to bottom, #51ca57d0 0%, #0c460f 100%);
	
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 18px 35px;
	text-decoration: none;
	font-size: 20px;
	
  }

 


  
  .topnav a.logo {
	margin-top: 5px;
	margin-left: 10px;
	padding: 4px ;
	width: 80px;
	}
	
  .topnav a:hover {
	color: #751f05;
	transform: scale(1.00);
	transition: all .2s;
  	z-index: 100;
	
  }
  .topnav a.logo:hover{
	color: #751f05;
	transform: scale(1.1);
  	transition: all .3s;
  	z-index: 100;
	
  }
  .topnav a.logo2 {
	margin-top: 5px;
	padding: 4px ;
	width: 100px;
	
	
}
  .topnav a.logo2:hover{
	transform: scale(1.1);
  	transition: all .3s;
  	z-index: 100;
	
	  
  }


  

  
  .topnav a.logo2 .badge {
	position: absolute;
	margin-top: -1px;
	
	padding: 2px 8px;
	border-radius: 80%;
	background-color: red;
	color: white;
}

  .topnav a::before{
	content: "";
	transition: all 0.4s ease-in-out;
	position: absolute;
	right: 50%;
	left: 50%;
	bottom: 0;
	height: 2px;
	background-image: linear-gradient(90deg,#c2925cc4 0%, #422c13 100%);
  	background-image: -moz-linear-gradient(top, #c2925cc4 0%, #422c13 100%);
  	background-image: -webkit-linear-gradient(top, #c2925cc4 0%, #422c13 100%);
  	background-image: linear-gradient(to bottom, #c2925cc4 0%, #422c13 100%);
  }

  .topnav a:hover::before {
	right: 0;
	left: 0;
  }
  
  .topnav a.active {
	background-image: linear-gradient(90deg,#1a611ed0 0%, #041d05 100%);
  	background-image: -moz-linear-gradient(top, #1a611ed0 0%, #041d05 100%);
  	background-image: -webkit-linear-gradient(top, #1a611ed0 0%, #041d05 100%);
  	background-image: linear-gradient(to bottom, #1a611ed0 0%, #041d05 100%);
	color: white;
	
	float: right;
  }
  
  .topnav a.active:hover {
	background-image: linear-gradient(90deg,#5ba35ed0 0%, #338f36d0 100%);
  	background-image: -moz-linear-gradient(top, #5ba35ed0 0%, #338f36d0 100%);
  	background-image: -webkit-linear-gradient(top, #5ba35ed0 0%, #338f36d0 100%);
  	background-image: linear-gradient(to bottom, #5ba35ed0 0%, #338f36d0 100%);
	
  }
  
  .topnav .icon {
	display: none;
  }
  
  
  @media screen and (max-width:860px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
	
	.topnav.topnav.responsive a.logo {
	
		margin-left: 10px;
		width: 70px;
	}
	.topnav.topnav.responsive a.logo2 {
	
		margin-left: 30px;
		
		width: 70px;
		
		
	}
  }
  
  
  @media screen and (max-width: 860px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	  
	}
  }
  