<app-navbar></app-navbar>


<div id="container">
    <h1>&bull;Añadir Brigadista &bull;</h1>
    <div class="underline">
    </div>
    <form [formGroup]="BrigadistaForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Datos Personales</legend>

            <div class="row">
              <div class="column" >
                <label for="nombre" ></label>
                <input type="text" formControlName="nombre" placeholder="Nombre" requiered><br>
                <div *ngIf="BrigadistaForm.get('nombre').hasError('required')"><span>Nombre requerido</span></div>
              </div>
              <div class="column" >
                <label for="apellidoP"></label>
                <input type="text" formControlName="apellidoP" placeholder="Apellido Paterno"required><br>
               <div *ngIf="BrigadistaForm.get('apellidoP').hasError('required')"><span>Apellido Paterno requerido</span></div>
              </div>
            </div>

            <div class="row">
              <div class="column" >
                <label for="apellidoM"></label>
            <input type="text" formControlName="apellidoM" placeholder="Apellido Materno" required><br>
            <div *ngIf="BrigadistaForm.get('apellidoM').hasError('required')"><span>Apellido Materno requerido</span></div>
              </div>
              <div class="column" >
                <label for="rut"></label>
            <input type="text" formControlName="rut" placeholder="Rut"required><br>
            <div *ngIf="BrigadistaForm.get('rut').hasError('required')"><span>Rut requerido</span></div>
              </div>
            </div>

            <div class="row">
              <div class="column2" >
                <label for="f_nacimiento">Fecha de nacimiento</label>
                <input type="date" formControlName="f_nacimiento" placeholder="Fecha de nacimiento" required ><br>
                <div *ngIf="BrigadistaForm.get('f_nacimiento').hasError('required')"><span>Fecha de nacimiento requerida</span></div>
              </div>
              
            </div>
            <div class="row">
              <div class="column2" >
                <label for="correo"></label>
                <input type="text" formControlName="correo" placeholder="Correo" required><br>
                <div *ngIf="BrigadistaForm.get('correo').hasError('required')"><span>Correo requerido</span></div>
                <div *ngIf="BrigadistaForm.get('correo').hasError('email')"><span>Formato de correo Incorrecto</span></div>
              </div>
              
            </div> 
              
             
                
             
         
          
        </fieldset>
       
       

        <fieldset>
            <legend>Brigada</legend>

            <div class="row">
                
                    <div class="column" >
                        
                            <select formControlName="nombre_brigada" (change)="onChange($event.target.value);">
                                    <option value="" class="option">Nombre Brigada</option>
                                    <option *ngFor="let nombre of nombresbrigadas$" value="{{nombre.nombre}}" class="option">{{nombre.nombre}} - {{nombre.region}}</option>           
                            </select>
                            <div *ngIf="BrigadistaForm.get('nombre_brigada').hasError('required')"><span>Nombre de brigada requerido</span></div>
                        
                                   
                    </div>
                    <div class="column" >
                        <select formControlName="n_brigada">
                            <option value="" class="option">N° de Brigada</option>
                            <option *ngFor="let nombre of brigadas$.data" value="{{nombre.n_brigada}}" class="option">{{nombre.n_brigada}}</option>           
                       </select>
             
                        <div *ngIf="BrigadistaForm.get('n_brigada').hasError('required')"><span>N° de brigada requerido</span></div>
                    
                    
                     </div>
            
              
            
             
            </div>
           
        <div class="row">
            <div class="column" >
                <label for="pulsera"></label>
           
                <select formControlName="pulsera" required>
                  <option value="" class="option" disabled hidden selected>ID de Pulsera</option>
                  <option *ngFor="let pulseras of pulserasNoUsadas$.data" class="option">{{pulseras.id}}</option>
                </select>
                <div *ngIf="BrigadistaForm.get('pulsera').hasError('required')"><span>ID de pulsera requerido</span></div>
              </div>
            <div class="column" >
           <label for="cargo"></label>
           
            <select placeholder="Subject line" name="subject" id="subject_input" formControlName="cargo" required>
              <option value="" class="option" disabled hidden selected>Cargo</option>
              <option class="option">Capitán</option>
              <option class="option">Motosierrista</option>
              <option class="option">Rozón</option>
              <option class="option">McLeod</option>
            </select>
            <div *ngIf="BrigadistaForm.get('cargo').hasError('required')"><span>Cargo requerido</span></div>
          </div>
        </div>
        </fieldset>
        <fieldset>
            <legend>Condición Física</legend>

            <div class="row">
                <div class="column" >
                    <label for="peso">Peso</label>
                    <input type="number" step="0.01" min="0" max="999.99" formControlName="peso" required><br>
                    <div *ngIf="BrigadistaForm.get('peso').hasError('required')"><span>Peso requerido</span></div>
                </div>
                <div class="column" >
                    <label for="altura">Altura</label>
                    <input type="number" step="0.1" min="0"  max="9.9" formControlName="altura" required><br>
                    <div *ngIf="BrigadistaForm.get('altura').hasError('required')"><span>Altura requerido</span></div>
                </div>
              </div>
              
              
            </fieldset>
            
            <div class="submit">
                <input [disabled]="!BrigadistaForm.valid" type="submit" value="Registrar" id="form_button" />
              </div>
             
           
    </form><!-- // End form -->
  </div><!-- // End #container -->