
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

    <ng-container *ngIf="cargo == 'administrador' ||cargo=='super_admin';else second">
            <app-navbar></app-navbar>
    </ng-container>

    <ng-template #second>
            <app-navbar2></app-navbar2>
    </ng-template>


    
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <div class="view w-100 ">
            <img class="d-block w-100 img-carousel" src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Brigadista_Conaf.jpg" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
          </div>
          
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100 img-carousel" src="https://static.t13.cl/images/sizes/1090x613/1486387032-auno757435.jpg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </div>
         
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100 img-carousel" src="https://images2-mega.mdstrm.com/meganoticias/2019/02/17/250909_1_5c6a08b43a212.jpg?d=950x535" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
  
      