
  <ng-container *ngIf="cargo == 'administrador' ||cargo=='super_admin';else second">
    <app-navbar></app-navbar>
</ng-container>

<ng-template #second>
    <app-navbar2></app-navbar2>
</ng-template>



    <div class="tab">
            <button class="tablinks" (click)="openCity(event, 'Datos')" id="defaultOpen">Datos</button>
            <button class="tablinks" (click)="openCity(event, 'Gráficos')">Gráficos</button>
            <button class="tablinks" (click)="openCity(event, 'Mapa')">Mapa</button>
          </div>

    <div id="Datos" class="tabcontent">
        <h1>&bull;{{datoActual$[0].nombre}} {{datoActual$[0].apellidoP}} {{datoActual$[0].apellidoM}} &bull;</h1>
        <div class="underline"> </div>
        <div class="pricingdiv">
            <div >
                <ul class="theplan">
                        <table *ngFor="let brigadista of datoActual$;">
                                

                                <tr>
                                    <td>Edad : {{brigadista.edad}}</td>
                                </tr>

                                <tr>
                                    <td>Temperatura Ambiental: {{brigadista.t_ambiental}}°C</td>
                                </tr>

                                <tr>
                                    <td>Temperatura Corporal: {{brigadista.t_corporal}}°C</td>
                                </tr>
                        
                                <tr>
                                    <td>Pulsaciones: {{brigadista.pulsaciones}}</td>
                                </tr>
                        
                                <tr>
                                    <ng-container *ngIf="brigadista.fatigado == 0;else second">
                                        <td>Nivel de Fatiga: Bajo</td>
                                    </ng-container>

                                    <ng-template #second>
                                        <ng-container *ngIf="brigadista.fatigado == 1;else third">
                                            <td>Nivel de Fatiga: Medio</td>      
                                        </ng-container>
                                    </ng-template>
                            
                                    <ng-template #third>
                                        <ng-container *ngIf="brigadista.fatigado == 2;">
                                            <td>Nivel de Fatiga: Alto</td>       
                                        </ng-container>
                                    </ng-template>      
                                </tr>  
                        </table>
                    </ul>
            </div>

            <div>
                    <ul class="theplan">
                        <div class="col col2" *ngFor="let brigadista of datoActual$;">
                            <ng-container *ngIf="brigadista.fatigado == 0;else second">
                                <li class="title"><img   src="src=../../assets/images/brigadistaverde.png"/></li>
                            </ng-container>

                            <ng-template #second>
                                <ng-container *ngIf="brigadista.fatigado == 1;else third">
                                    <li class="title"><img  src="../../assets/images/brigadistaamarillo.png"/></li>
                                </ng-container>
                            </ng-template>
                        
                            <ng-template #third>
                                <ng-container *ngIf="brigadista.fatigado == 2;">
                                    <li class="title"><img src="../../assets/images/brigadistarojo.png"/></li>            
                                </ng-container>
                            </ng-template>
                                <li>
                                    <div class=tiempo>
                                        <br>Horas combatiendo:<br/>
                                        <br>XX:XX:XX<br/>
                                    </div>
                                </li>
                        </div>
                    </ul>
            </div>
        </div>
    </div>

    <div id="Gráficos" class="tabcontent">
            <h1>&bull;{{datoActual$[0].nombre}} {{datoActual$[0].apellidoP}} {{datoActual$[0].apellidoM}} &bull;</h1>
            <div class="underline"> </div>
            <div class="pricingdiv">
                <div >
                    <ul class="theplan2">
                        <canvas baseChart 
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType">
                        </canvas>                                               
                    </ul>
                </div>
            </div>
        </div>
    

    <div id="Mapa" class="tabcontent">
            <h1>&bull;{{datoActual$[0].nombre}} {{datoActual$[0].apellidoP}} {{datoActual$[0].apellidoM}} &bull;</h1>
            <div class="underline"> </div>
            <div class="pricingdiv">
                <div >
                    <ul class="theplan3">
                            <agm-map (mapClick) = "close_window(infoWindow, gm)" #gm [zoom]="15" [mapTypeId]="'satellite'" *ngFor="let brigadista of datoActual$;" [latitude]="brigadista.latidud" [longitude]="brigadista.longitud">
              

                                        <agm-polyline  [strokeColor]="'red'">
                                            <ng-container *ngFor="let pos of ultimasPosicionesfinal$; let i = index;">
                                                

                                            <agm-polyline-point [latitude]="pos.latidud" [longitude]="pos.longitud">
                                                
                                                        
                                            </agm-polyline-point>

                                            
                                             </ng-container>
                                        </agm-polyline>

                                        <agm-marker #m [latitude]="brigadista.latidud" [longitude]="brigadista.longitud" [iconUrl]="iconAct" (mouseOver)="onMouseOver(infoWindow,gm)">
                                
          
                                        </agm-marker>            


                                     
                                               


                                
                                
                                        
                        
                            </agm-map>                                             
                    </ul>
                </div>
            </div>
        </div>
    
          




         