@import url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);

body {font-family: 'Playfair Display', serif;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-image: linear-gradient(90deg,#c49c48cc 0%, #806223 100%);
  background-image: -moz-linear-gradient(top, #c49c48cc 0%, #806223 100%);
  background-image: -webkit-linear-gradient(top, #c49c48cc 0%, #806223 100%);
  background-image: linear-gradient(to bottom, #c49c48cc 0%, #806223 100%);
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10.45%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  max-width: 78.55%;
  margin-left: 10%;
  margin-right: 10.45%;
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  background-image: linear-gradient(90deg,#e4bc96cc 0%, #725a43 100%);
  	background-image: -moz-linear-gradient(top, #e4bc96cc 0%, #725a43 100%);
  	background-image: -webkit-linear-gradient(top, #e4bc96cc 0%, #725a43 100%);
  	background-image: linear-gradient(to bottom, #e4bc96cc 0%, #725a43 100%);
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabs-title {
	float: none;
	display: inline-block;
}


.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  
}

.pricingdiv ul.theplan{
  
  list-style: none;
  display: flex;
  flex-direction: column;
  color: black;
  width: 450px; /* width of each table */
  height: 320px;
 /* spacing between tables */
  
  
  transition: all .5s;
 
}

.pricingdiv ul.theplan2{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width: 700px; /* width of each table */
 height: 400px;
  margin-right: 50px; /* spacing between tables */
  margin-bottom: 2em;
  margin-top:  2em;;
  border: 3px solid rgb(26, 26, 26);
  transition: all .5s;
  background-image: linear-gradient(90deg,#d6e2e6d7 0%, #707c80d7 100%);
  	background-image: -moz-linear-gradient(top, #d6e2e6d7 0%, #707c80d7 100%);
  	background-image: -webkit-linear-gradient(top, #d6e2e6d7 0%, #707c80d7 100%);
  	background-image: linear-gradient(to bottom, #d6e2e6d7 0%, #707c80d7 100%);
}

.pricingdiv ul.theplan3{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width: 1000px; /* width of each table */
 height: 500px;
  margin-right: 50px; /* spacing between tables */
  margin-bottom: 2em;
  margin-top:  2em;;
  transition: all .5s;
  
}



.pricingdiv ul.theplan .center{
  margin: 0 auto;
  text-align: center;
}

.pricingdiv ul.theplan2 .center{
  margin: 0 auto;
  text-align: center;
}

.pricingdiv ul.theplan3 .center{
  margin: 0 auto;
  text-align: center;
}

.pricingdiv ul.theplan img{
  width: 50%;
  height: auto;
  
  
  
}

.pricingdiv ul.theplan li{
  padding: 15px 10px;
  position: relative;
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  
  color: white;
}

.pricingdiv ul.theplan li.title{
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  
  color: white;
  
}
.pricingdiv ul.theplan li.title2{
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  background-image: linear-gradient(90deg,#c49c48cc 0%, #244e0ccc 100%);
  	background-image: -moz-linear-gradient(top, #c49c48cc 0%, #244e0ccc 100%);
  	background-image: -webkit-linear-gradient(top, #c49c48cc 0%, #244e0ccc 100%);
  	background-image: linear-gradient(to bottom, #c49c48cc 0%, #244e0ccc 100%);
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  
}

.pricingdiv ul.theplan:nth-of-type(2) li.title{
  background: rgb(196, 107, 48);
  color: white;
}
    
.pricingdiv ul.theplan:nth-of-type(3) li.title{
  background: rgb(210, 117, 251);
  color: white;
}

.pricingdiv ul.theplan li b{
 
}
.pricingdiv ul.theplan li.title b{
  font-size: 200%;
}
.pricingdiv ul.theplan li.pie{
 
  background-image: linear-gradient(90deg,#523c0db2 0%, #201906b2 100%);
  	background-image: -moz-linear-gradient(top, #523c0db2 0%, #201906b2 100%);
  	background-image: -webkit-linear-gradient(top, #523c0db2 0%, #201906b2 100%);
  	background-image: linear-gradient(to bottom, #523c0db2 0%, #201906b2 100%);
  
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv ul.theplan2:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan2 li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv ul.theplan3:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan3 li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv a.pricebutton{
  background: rgb(228, 48, 48);
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1400px) {
	
 
  .pricingdiv ul.theplan3{
   
    width: 800px; /* width of each table */
   height: 400px;
    
  }
  
}
@media only screen and (max-width: 1100px) {
	
  .pricingdiv ul.theplan2{
   
    width: 600px; /* width of each table */
   height: 350px;
    
  }
  .pricingdiv ul.theplan3{
   
    width: 600px; /* width of each table */
   height: 400px;
    
  }
  
}

@media only screen and (max-width: 900px) {
	
  .pricingdiv ul.theplan2{
   
    width: 500px; /* width of each table */
   height: 300px;
    
  }
  .pricingdiv ul.theplan3{
   
    width: 450px; /* width of each table */
   height: 400px;
    
  }
  
}

@media only screen and (max-width: 750px) {
	.pricingdiv ul.theplan{
   
    width: 400px; /* width of each table */
   height: 300px;
    
  }
  .pricingdiv ul.theplan2{
   
    width: 400px; /* width of each table */
   height: 250px;
    
  }
  .pricingdiv ul.theplan3{
   
    width: 400px; /* width of each table */
   height: 400px;
    
  }
  
}


@media only screen and (max-width: 600px) {
	.pricingdiv ul.theplan{
   
    width: 300px; /* width of each table */
   height: 300px;
    
  }
  .pricingdiv ul.theplan2{
   
    width: 300px; /* width of each table */
   height: 200px;
    
  }
  .pricingdiv ul.theplan3{
   
    width: 300px; /* width of each table */
   height: 300px;
    
  }
  
}
@media only screen and (max-width: 500px) {
	.pricingdiv ul.theplan{
   
    width: 200px; /* width of each table */
   height: 300px;
    
  }
  .pricingdiv ul.theplan2{
   
    width: 200px; /* width of each table */
   height: 150px;
    
  }
  .pricingdiv ul.theplan3{
   
    width: 300px; /* width of each table */
   height: 300px;
    
  }
  
 
}
@media only screen and (max-width: 450px) {
	
  .pricingdiv ul.theplan3{
   
    width: 250px; /* width of each table */
   height: 300px;
    
  }
  
 
  
}

@media only screen and (max-width: 400px) {
	
  .pricingdiv ul.theplan3{
   
    width: 200px; /* width of each table */
   height: 300px;
    
  }
  
 
  
}





.frow {
    clear:both;
    padding:10px;
    text-align:center;
}

.frow .col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  padding:2%;
}

.frow .col:first-child { margin-left: 0; }

.frow .col4 {
  width: 19.8%;
}

.frow .col3 {
  width: 28.26%;
    }
    
.frow .col2 {
    width: 45%;
}    


@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%;  margin-left: 0 !important;}
	.frow .col2, .frow .col3, .frow .col4 { width: 100%; }
}



table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    color: white;
    background-image: linear-gradient(90deg,#52bd58cc 0%, #1f4921 100%);
  	background-image: -moz-linear-gradient(top, #52bd58cc 0%, #1f4921 100%);
  	background-image: -webkit-linear-gradient(top, #52bd58cc 0%, #1f4921 100%);
    background-image: linear-gradient(to bottom, #52bd58cc 0%, #1f4921 100%);
    border: rgba(0, 78, 39, 0.877) 2px solid;
  }
  
  th, td {
    text-align: left;
    padding: 8px;  
  }

  
  tr:nth-child(even){
    background-image: linear-gradient(90deg,#da9e66e7 0%, #da9e66e7 100%);
  	background-image: -moz-linear-gradient(top, #da9e66e7 0%, #da9e66e7 100%);
  	background-image: -webkit-linear-gradient(top, #da9e66e7 0%, #da9e66e7 100%);
  	background-image: linear-gradient(to bottom, #da9e66e7 0%, #da9e66e7 100%);
      border: rgba(0, 78, 39, 0.877) 2px solid;
    } 
 


 img{
    margin-top:-5%;
    width: 35%;
    height: 30%;
 }

.tiempo{
    margin-top: -7.7%;
    margin-left: 29%;
    width: 40%;
    height: 10%;
    border: 2px solid gray;
    border-radius: 2rem;
    background-color:rgb(97, 91, 91);
    color: white;
    text-align: center;
}

@media only screen and (max-width: 500px) {
	
  
  .tiempo{
    margin-top: -7.7%;
    margin-left: 0%;
    width: 100%;
    height: 10%;
    border: 2px solid gray;
    border-radius: 2rem;
    background-color:rgb(97, 91, 91);
    color: white;
    text-align: center;
  }
  
}
h1 {
  color: #494949;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}
.underline {
  border-bottom: solid 2px #494949;
  margin: -0.512em auto;
  margin-bottom: 5px;
  width: 170px;
}

.rectangle{
    width: 39.2vw;
    height: 55vh;
    background-color: rgba(197, 206, 201, 0.877);
}

agm-map{
  width: 100%; /* width of each table */
  height: 100%;
}

