
<nav class="nav">
		
	<ul>
			
		<a  >
            <img  width="73px" height=" " src="../../assets/images/logito.png">
		  </a>
		
		<li><a href="#">Inicio</a>
		<li><a href="#">Estado Cuadrilla</a>
		<li><a href="#">Reportería</a>
		<li class="drop"><a href="#">Brigadistas</a>
			<ul class="dropdown">
				<li><a href="#">Añadir Brigadista</a></li>
				<li><a href="#">Modificar Brigadista</a></li>
				<li><a href="#">Eliminar Brigadista</a></li>
			</ul>
		</li>
		<li><a href="#">Contacto</a></li>
		
		
	</ul>
</nav>


