<div class="page">
  
        <nav class="menu">
          
          <ul class="menu__list">
            <a class="navbar-brand">
            <img class="img-responsive" width="110px" height="" src="../../assets/images/logito.png">
          </a>
            <li class="menu__group"><a routerLink="" class="menu__link">Inicio</a></li>
            <li class="menu__group"><a routerLink="/estado" class="menu__link">Estado de Cuadrilla</a></li>
            <li class="menu__group"><a href="#0" class="menu__link">Reportería</a></li>
            <li class="menu__group"><a href="#0" class="menu__link">Añadir Brigadista</a></li>
            <li class="menu__group"><a routerLink="/contacto" class="menu__link">Contacto</a></li>
          </ul>
        </nav>
      </div>  
      