
<nav class="nav">
		
	<ul>
			
		<a  >
            <img  width="73px" height=" " src="../../assets/images/logito.png">
		  </a>
		
		<li><a routerLink="">Inicio</a>
		<li><a routerLink="/estado">Estado Cuadrilla</a>
		<li><a href="">Reportería</a>
		<li class="drop"><a href="#">Brigadistas</a>
			<ul class="dropdown">
				<li><a routerLink='#'>Añadir Brigadista</a></li>
				<li><a routerLink='#'>Modificar Brigadista</a></li>
				<li><a routerLink='#'>Eliminar Brigadista</a></li>
			</ul>
		</li>
		<li><a routerLink="/contacto">Contacto</a></li>
		
		
	</ul>
</nav>


