@import url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap);

	html {
	  -ms-text-size-adjust: 100%;
	  -webkit-text-size-adjust: 100%;
	  font-family: 'Playfair Display', serif;

  }

  p{
    margin: auto;
  }
  
  img{
    margin-top: 5%;
    width: 40%;
    height: 40%;
   
  }

	body {
	  background: #F2F3EB;
	}
	
	button {
	  overflow: visible;
	  
	}
	
	button, select {
	  text-transform: none;
	}
	
	button, input, select, textarea {
        
	  color: rgb(99, 97, 97);
	  font: inherit;
	  margin: 0;
	}
	
	input {
	  line-height: normal;
	}
	
	textarea {
	  overflow: auto;
	}
	
	#container {
	border: solid 3px #e6550d;
	background-image: linear-gradient(90deg,#51b694d0 0%, #072b1f 100%);
  	background-image: -moz-linear-gradient(top, #51b694d0 0%, #072b1f 100%);
  	background-image: -webkit-linear-gradient(top, #51b694d0 0%, #072b1f 100%);
  	background-image: linear-gradient(to bottom, #51b694d0 0%, #072b1f 100%);
    width: 45%;
    position: relative;
    margin-left: 27.5%;
    margin-bottom: 2%;
    margin-top: 2%;
	font-family: 'Playfair Display', serif;
	}
	
	form {
	  padding: 37.5px;
	  margin: 10px 0;
	  font-family: 'Playfair Display', serif;

	}
	
	h1 {
	  color: #dfdddd;
	  font-size: 32px;
	  font-weight: 700;
	  letter-spacing: 7px;
	  text-align: center;
	  text-transform: uppercase;
	}
	
	.underline {
	  border-bottom: solid 2px #c4bebe;
	  margin: -0.512em auto;
	  margin-top: 5%;
	  width: 150px;
	}
	

	
	.email {
		float: right;
		width: 47%;
	}
	
	input[type='text'], [type='password'],[type='email'],[type=date], select, textarea {

		background: none;
	  	border: none;
		border-bottom: solid 2px #474544;
		color: #ffffff;
		font-size: 1.000em;
	  	font-weight: 400;
	  	letter-spacing: 1px;
		margin: 0.5em 0 1em 0;
		padding: 0 0 0.875em 0;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	
	input[type='text']:focus, [type='password'], [type='email']:focus, [type=date]:focus,textarea:focus {
		outline: none;
		padding: 0 0 0.875em 0;
	}
	input{
		
		margin-left: 10px;
		width: 48%;
		
		
	 }
	 input[type=number]{
		margin-left: 10px;
		
     }
	
	.message {
		float: none;
	}
	
	.name {
		float: left;
		width: 47%;
	}
	fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		min-width:  0;
		margin-bottom: 10px;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
			border: 1px solid #ddd;
			color: black;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #d1d1d1b0;
		}
	
	select {
	  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
	  outline: none;
	  -moz-appearance: none;
	  -webkit-appearance: none;
	}
	
	select::-ms-expand {
	  display: none;
	}
	
	.subject {
	  width: 100%;
	}

	.option{
		color: #696766;
	}
	
	
	::-webkit-input-placeholder {
		color: #e6dfdc;
		font-family: 'Merriweather', serif;
		font-size: 15px;
	}
	
	:-moz-placeholder { 
		color: #ee6622;
		opacity: 1;
	}
	
	::-moz-placeholder {
		color: #474544;
		opacity: 1;
	}
	
	:-ms-input-placeholder {
		color: #c9c3c3;
	}
	form fieldset {
        font-family: 'Helvetica', Arial, sans-serif;
		font-size: 15px;
		color:rgb(255, 255, 255);
        text-align: left;
        margin-left: 10px;
      }
	
	span{
		color: red;
		font-size: 10px;
	margin: auto;
	
	}

	#form_button {
        margin-left: 10px;
        width: 50%;
	  background: none;
	  border: solid 2px #927e74;
	  background-color: #ee6622;
	  color: #474544;
	  cursor: pointer;
	  display: inline-block;
	  font-family: 'Helvetica', Arial, sans-serif;
	  font-size: 0.875em;
	  font-weight: bold;
	  outline: none;
	  padding: 20px 35px;
	  text-transform: uppercase;
	  -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	
	#form_button:hover {
	  background: rgb(209, 89, 29);
	  color: #F2F3EB;
	}
	
	@media screen and (max-width: 768px) {
	  #container {
		margin: 60px auto;
		width: 95%;
	  }
	}
	
	@media screen and (max-width: 480px) {
	  h1 {
		font-size: 26px;
	  }
	  
	  
	  
	  #form_button {
		padding: 15px 25px;
	  }
	}
	
	@media screen and (max-width: 420px) {
	  h1 {
		font-size: 18px;
	  }
	  
	  .icon {
		height: 35px;
		width: 35px;
	  }
	  
	 
	  
	  input[type='text'], [type='password'], [type='email'], select, textarea {
		font-size: 0.875em;
	  }
	}