<div id="container">
    <h1>&bull;Solicitud de Registro &bull;</h1>
    <div class="underline">
    </div>
    <form [formGroup]="RegistroForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Datos Personales</legend>
            <div class="row">
              <div class="column" >
                <label for="nombre" ></label>
            <input type="text" formControlName="nombre" placeholder="Nombre" requiered><br>
            <div *ngIf="RegistroForm.get('nombre').hasError('required')" ><span>Nombre requerido</span></div>
              </div>
              <div class="column" >
                <label for="apellidoP"></label>
            <input type="text" formControlName="apellidoP" placeholder="Apellido Paterno"required><br>
            <div *ngIf="RegistroForm.get('apellidoP').hasError('required')"><span>Apellido Paterno requerido</span></div>
              </div>
            </div>

            <div class="row">
              <div class="column" >
                <label for="apellidoM"></label>
                <input type="text" formControlName="apellidoM" placeholder="Apellido Materno" required><br>
                <div *ngIf="RegistroForm.get('apellidoM').hasError('required')"><span>Apellido Materno requerido</span></div>
              </div>
              <div class="column">
                <label for="rut"></label>
                <input type="text" formControlName="rut" placeholder="Rut"required><br>
                <div *ngIf="RegistroForm.get('rut').hasError('required')"><span>Rut requerido</span></div>
                <div *ngIf="RegistroForm.get('rut').hasError('pattern')"><span>Formato incorrecto de rut.</span></div>
              </div>
            </div>
          
            <div class="row">
              <div class="column" >
                <label for="cargo"></label>     
                <select placeholder="Subject line" name="subject" id="subject_input" formControlName="cargo" required>
                  <option value="" class="option" disabled hidden selected>Cargo</option>
                  <option class="option">Administrador</option>
                  <option class="option">Jefe Brigada</option>
                </select>
                <div *ngIf="RegistroForm.get('cargo').hasError('required')"><span>Cargo requerido</span></div>
              </div>
              <div class="column" >
                <label for="correo"></label>
                <input type="text" formControlName="correo" placeholder="Correo" required><br>
                <div *ngIf="RegistroForm.get('correo').hasError('required')"><span>Correo requerido</span></div>
                <div *ngIf="RegistroForm.get('correo').hasError('email')"><span>Formato de correo Incorrecto</span></div>
              </div>
            </div>
         
        </fieldset>

        <fieldset>
            <legend>Datos Usuario</legend>

           
                <label for="pass"></label>
                <input type="password" formControlName="pass" placeholder="Contraseña"required><br>
                <div *ngIf="RegistroForm.get('pass').hasError('required')"><span>Contraseña requerida</span></div>
             
            
           
            <div class="submit">
                <input [disabled]="!RegistroForm.valid" type="submit" value="Registrar" id="form_button" />
              </div>
        </fieldset>
       
     
             
           
    </form><!-- // End form -->
  </div><!-- // End #container -->
       

<app-footer></app-footer>
